doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='/css/materialize.css', media='screen,projection')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/loan.css')
    script(src='/js/dashboard.js', defer)
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    title dashboard/Nts
  body
    //-#show
    include ./include/nav.pug
    
    main
      .row
        .col.s6
          .card.z-depth-3(style='padding: 35px;', align='center')
            .row
              .left.card-title
                b.flow-text Loan
            .row
              a(href='#!')
                .grey.lighten-3.col.s4.waves-effect(style='padding: 30px;')
                  span.indigo-text.text-lighten-1
                    h6 Test
                  span.indigo-text.text-lighten-1
                    h5 Balance
              .col.s1  
              a(href='#!')
                .grey.lighten-3.col.s4.waves-effect(style='padding: 30px;')
                  i.indigo-text.text-lighten-1.large.material-icons people
                  span.indigo-text.text-lighten-1
                    h5 Customer
        .col.s6
          .card.z-depth-3(style='padding: 35px;', align='center')
            .row
              .left.card-title
                b Product Management
            .row
              a(href='#!')
                .grey.lighten-3.col.s5.waves-effect(style='padding: 30px;')
                  i.indigo-text.text-lighten-1.large.material-icons store
                  span.indigo-text.text-lighten-1
                    h5 Product
              .col.s1  
              .col.s1  
              a(href='#!')
                .grey.lighten-3.col.s5.waves-effect(style='padding: 30px;')
                  i.indigo-text.text-lighten-1.large.material-icons assignment
                  span.indigo-text.text-lighten-1
                    h5 Orders
      blockquote.flow-text Transaction History
      table.striped.highlight.z-depth-2
        thead
          tr
            th Account
            th Date
            th Message
            th Type
            th Amount
        tbody
        each item in data
          tr
            td= item.recipient
            td= item.timeStamp
            td= item.message
            td= item.txType
            td= item.amount
    //- // footer
    //- #footer
    include ./include/footer.pug
    script.
      // sidebar
      $(document).ready(function(){
      $('.sidenav').sidenav();
      });
      // modal
      $(document).ready(function(){
      $('.modal').modal();
      });

    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
